# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.properties

# Android
*.iml
.idea/
local.properties
*.apk
*.aab
*.ap_
*.dex
captures/
.externalNativeBuild/
.cxx/
outputs/

# Kotlin
*.class
*.jar
*.war
*.log

# OS
.DS_Store
Thumbs.db
